.train-ride {
    position: relative;
    background-color: white;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 7px;

    .departure .hour, .arrival .hour {
        color: #006565;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .time {
        font-size: .8rem;
        font-weight: bold;
        color: gray;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border-radius: 100px;
        background-color: #006565;
    }

    i {
        color: white ;
    }


}




.line {
    width: 20%;
    border-top: 1px dashed  rgb(191, 191, 191);
}

.message {
    background-color: lightgray;
    color: white;
    font-size: .8rem;
    font-weight: bold;
    color: #890505;
}



